es.card-basic {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card-image {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.language-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.language-icon {
    width: 24px;
    height: 24px;
}

.language-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    border-radius: 4px;
}

.language-selector:hover .language-menu {
    display: block;
}

.language-menu li {
    margin: 5px 0;
}
