es.card-basic {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card-image {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.language-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.language-icon {
    width: 24px;
    height: 24px;
}

.language-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    border-radius: 4px;
}

.language-selector:hover .language-menu {
    display: block;
}

.language-menu li {
    margin: 5px 0;
}


.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fab {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.fab img {
    width: 60%;
    height: 60%;
}

.fab:hover {
    background-color: #0056b3;
}
