<!-- layouts/partials/metadata.html -->
<!-- Open Graph 이미지 -->
<meta property="og:image" content="{{ .Params.ogImage }}">

<!-- Favicon -->
<link rel="icon" href="{{ .Params.favicon | default "/favicon.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab1.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab2.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab3.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab4.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab5.png" }}" type="image/png">
<link rel="icon" href="{{ .Params.favicon | default "/../../../assets/media/icons/fab6.png" }}" type="image/png">

<!-- 스타일시트 -->
<link rel="scss" href="../../../../assets/sc    ss/template.scss">

<!-- GitHub 버튼 스크립트 -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


