<div class="fab-container">
    <a href="#fab1" class="fab"><img src="{{ "icons/fab1.png" | absURL }}" alt="FAB 1"></a>
    <a href="#fab2" class="fab"><img src="{{ "icons/fab2.png" | absURL }}" alt="FAB 2"></a>
    <a href="#fab3" class="fab"><img src="{{ "icons/fab3.png" | absURL }}" alt="FAB 3"></a>
    <a href="#fab4" class="fab"><img src="{{ "icons/fab4.png" | absURL }}" alt="FAB 4"></a>
    <a href="#fab5" class="fab"><img src="{{ "icons/fab5.png" | absURL }}" alt="FAB 5"></a>
    <a href="#fab6" class="fab"><img src="{{ "icons/fab6.png" | absURL }}" alt="FAB 6"></a>
</div>
